<div class="headFix">
<h2>Moviejams for <%= current_user.name %></h2>
<h3>(<%= current_user.email %>)</h3>
<h4>Your unwatched moviejams</h4>
<ul>
  <% if @moviejams[0].empty? %>
    <li>Yes, you have no unwatched moviejams.</li>
  <% else %>
    <% @moviejams[0].each do |moviejam| %>
      <li>
        <%= moviejam.movie.title %>
         - (your prewatch rating: <%= moviejam.prerating %>)
        <%= button_to "Remove", {:controller => "moviejams", :action => 'remove', :id => moviejam.id }, :method => :post %>
        <%= button_to "Watch", {:controller => "moviejams", :action => 'watched', :id => moviejam.id }, :method => :post %>
      </li>
    <% end %>
  <% end %>
</ul>
<h4>Your watched moviejams</h4>
<ul>
  <% if @moviejams[1].empty? %>
    <li>Yes, you have no watched moviejams.</li>
  <% else %>
    <% @moviejams[1].each do |moviejam| %>
      <li>
        <%= moviejam.movie.title %>
         - (your prewatch rating: <%= moviejam.prerating %> - your postwatch rating: <%= moviejam.postrating %>)
      </li>
    <% end %>
  <% end %>
</ul>
</div>