<!DOCTYPE html>
<html>
<head>
  <title>Jam</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
          <div class="navbar-header">
              <%= link_to "Home", movies_path %>
          </div>
          <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                  <li><%= link_to "Home", movies_path %></li>
                  <li><%= link_to "Account", moviejams_path %></li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <% if !current_user.nil? %>
                <li> Welcome JAM-mer: <%= current_user.name %></li> </li>
                <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
                <% end %>
              </ul>
          </div>
      </div>
  </div>
  <div class="container body-content">
         <%= yield %>
      <footer class="footer">
        <hr />
        <p><%= Time.now.strftime("%m/%d/%Y %I:%M%p")%><strong> Team JAM-mer's Jullian Gommans, Sandra Muller, Steven Brown</strong></p>
      </footer>
  </div>
</body>
</html>
